body {
    min-height: max(884px, 100dvh);
}

nav {
    border-radius: 0;
}
footer {
    border-radius: 0;
}
footer {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

@media (max-width: 640px) {
    nav {
        border-radius: 0;
    }
    footer {
        border-radius: 0;
    }
}

/* Adicione estilos específicos para index-1.html aqui */
